<h1>Restaurants</h1>
<%= link_to "Create new restaurant", new_restaurant_path %>
<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
  <% end %>
</div>
